:root{
    --background-color: rgb(0, 0, 0);
    --form: rgb(32, 32, 32);
    --titre: rgb(92, 168, 243);
    --titremodif: rgb(5, 64, 126);
    --left: 3rem;
    --default: wheat;
    --taille: 75px;
}
body{
     font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal; 
    background-color: var(--background-color);
    margin: 0;
    color: wheat;
    box-sizing: border-box;
    
}
header{ 
    margin-top: 10px;
    display: flex;
    color: var(--titre);
    opacity: 86;
    border-bottom-style: solid;
    animation: gradientBorder 5s linear infinite;


    

}
#portfolio{
    margin-left: var(--left);
    text-shadow: rgb(92, 168, 243)1px 0 10px;
    font-size: 35px;    
    margin-top: 1rem;
    margin-bottom: 1rem;


}
nav{   
    margin-left: var(--left); 
    border-width: 1px;
    background: linear-gradient(to left, rgb(255, 0, 0), var(--titre));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.5rem;
    margin-bottom: auto;
    border-left-style: solid;

}

@keyframes gradientBorder {
    0% {
        border-image: linear-gradient(to right, rgb(255, 213, 136), var(--titre)) 1;
    }
    50% {
        border-image: linear-gradient(to right, var(--titre), rgb(255, 213, 136)) 1;
    }
    100% {
        border-image: linear-gradient(to right, rgb(255, 213, 136), var(--titre)) 1;
    }
}
nav > a{
    margin-left: 3rem;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: var(--titre);
    transition: color 0.3s ease;
}
a:hover{
    text-shadow: rgb(92, 168, 243) 1px 0 10px;
}
h1{
    color: var(--default);
    margin-left: var(--left);
    font-weight: 100;
    margin-top: 2rem;
    font-size: 3rem;
}
label{
    margin-left: var(--left);
    font-family: "Space Mono", monospace;
    
}
.form{
    color: white;
    width: 95%;
    padding-bottom: 1rem;
    margin-left: var(--left);
    margin-right: -var(--left);
    background-color: var(--form);
    transition: all 0.5s ease;
}
.form:focus{
    background-color: wheat;
    color: black;
}

#bouton{
    margin-left: var(--left);
    color: wheat;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    text-decoration: none;
    background-color: transparent;
    border-style: simple;
    border-color: var(--default);
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 3px;
    transition: all 0.3s ease;
}
#bouton:hover{
    margin-bottom: -25px;
    text-shadow: var(--default) 1px 1px 10px;
    box-shadow: var(--default) 1px 1px 10px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 5px;
    font-size: 40px;

}